<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark light-blue darken-2" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Faith Tabernacle</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/administration/dashboard']">
          Dashboard
        </a>
      </li>

      <li class="nav-item" *ngIf="hasAnnouncement">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/administration/announcement']">
          Announcements
        </a>
      </li>
      <li class="nav-item" *ngIf="hasAlerts">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/administration/alerts']">
          Alerts
        </a>
      </li>
      <li class="nav-item" *ngIf="hasVisitor">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/administration/visitor']">
          Visitor
        </a>
      </li>
      <li class="nav-item" *ngIf="hasContact">
        <a class="nav-link waves-light" mdbWavesEffect>
          Contact
        </a>
      </li>
      <li class="nav-item" *ngIf="hasUserManagement">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/administration/usermanagement']">
          User Management
        </a>
      </li>
      <li class="nav-item" (click)="logout()">
        <a class="nav-link waves-light" mdbWavesEffect>
          Logout
        </a>
      </li>

    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
