<div class="bg">
  <div class="bg-fill rgba-stylish-strong">
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
    <!-- Card -->
    <div class="row outer-row">
        
      <div class="card col-lg-5 col-md-10 col-xs-10 col-sm-10">

        <!-- Card content -->
        <div class="card-body">

          <!-- Title -->
          <img [src]="logoUrl" alt="logo" />
          <!-- Text -->
          <div class="container">
            <!-- Default form contact -->
            <form [formGroup]="loginForm" class="text-center col-lg-8 col-md-12 col-sm-12 col-xs-12">

              <div class="md-form">
                <input type="text" class="form-control" formControlName="email"
                  placeholder="Email - required">
                <p class="error" *ngIf="loginForm.get('email').invalid && formSubmitted">Email is required</p>
              </div>

              <div class="md-form">
                <input type="password" class="form-control" formControlName="password"
                  placeholder="Password - required">
                  <div class="row">
                    <div class="col-md-6">
                      <p class="error" *ngIf="loginForm.get('password').invalid && formSubmitted">Password is required</p>
                    </div>
                    <div class="col-md-6">
                      <p class="text-right forgot">Forgot Password?</p>
                    </div>
                  </div>
              </div>

              <!-- Send button -->
              <button class="btn light-blue darken-2" type="button" (click)="onSubmit()">Login</button>
            </form>
            <!-- Default form contact -->
          </div>

        </div>

      </div>
      <!-- Card -->
    </div>
  </div>
</div>
