div.card {
    margin: auto;
    vertical-align: middle;
    background: rgba(248, 248, 255, 1.0)
}
div.bg-fill {
    height: 100%;
}
div.outer-row {
    height: 100%;
    margin-right: 0px !important;
    margin-left: 0px !important;
}
form {
    margin: auto;
    padding: 2em 0px;
}
.md-form {
    margin-bottom: 5rem !important;
}
p.forgot {
    color: #0288d1 !important;
    float: right;
}
P.forgot:hover {
    cursor: pointer;
}
p.error {
    color: red !important;
    text-align: left !important;
    text-transform: none !important;
    padding: 0px !important;
    margin: 0px !important;
}

div.card p {
    font-size: 12px !important;
}

div.bg {
    /* The image used */
    background-image: url('../../../assets/images/worship.jpg');
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
    box-shadow: none !important;
    width: 60%;
    margin: auto;
    display: inherit;
}

div.row {
    margin: 0px !important;
    padding: 0px !important;
}