<div [formGroup]="visitForm">
  <h5>Visit Details</h5>
  <div class="mb-4">
    <div class="mb-4">
      <mdb-checkbox class="checkbox-filled" [filledIn]="true" formControlName="firstTimeVisitor">First-Time Visitor</mdb-checkbox>
    </div>
    <div class="mb-4">
      <mdb-checkbox class="checkbox-filled" [filledIn]="true" formControlName="returningVisitor">Returning Visitor</mdb-checkbox>
    </div>
    <div class="mb-4">
      <mdb-checkbox class="checkbox-filled" [filledIn]="true" formControlName="newResident">New Resident</mdb-checkbox>
    </div>
    <div class="mb-4">
      <mdb-checkbox class="checkbox-filled" [filledIn]="true" formControlName="wouldLikeVisit">Would Like a Visit</mdb-checkbox>
    </div>
    <div class="mb-4">
      <mdb-checkbox class="checkbox-filled" [filledIn]="true" formControlName="wouldLikeKnowChurch">Would Like to know more about our church</mdb-checkbox>
    </div>
    <div class="mb-4">
      <mdb-checkbox class="checkbox-filled" [filledIn]="true" formControlName="wouldLikeKnowChristian">Would like to know more about being a Christian</mdb-checkbox>
    </div>
  </div>
</div>