<div mdbModal #modal="mdbModal" class="modal fade up" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" (close)="onClose($event)">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Visitor Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="visitorForm">
        <div class="modal-body mx-3">
          <mdb-tabset #tabset [buttonClass]="'md-tabs tabs-3 light-blue darken-2'" [contentClass]="'card'">
            <mdb-tab heading="Visitor Information">
              <div class="row">
                <div class="col-md-6">
                  <div class="md-form">
                    <input mdbInput type="text" formControlName="firstname" id="firstname" class="form-control"
                      placeholder="First Name">
                    <label for="firstname">First Name</label>
                    <p class="error" *ngIf="visitorForm.get('firstname').invalid && familyFormSubmitted">First Name is
                      Required</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="md-form">
                    <input mdbInput type="text" formControlName="lastname" id="lastname" class="form-control"
                      placeholder="Last Name">
                    <label for="lastname">Last Name</label>
                    <p class="error" *ngIf="visitorForm.get('lastname').invalid && familyFormSubmitted">Last Name is
                      Required</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="md-form">
                    <input mdbInput type="text" formControlName="phoneNumber" id="phonenumber" appPhoneMask class="form-control"
                      placeholder="Phone Number">
                    <label for="phonenumber">Phone Number</label>
                    <p class="error" *ngIf="visitorForm.get('phoneNumber').invalid && familyFormSubmitted">Phone Number
                      is
                      Required</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="md-form">
                    <input mdbInput type="text" formControlName="email" id="email" class="form-control"
                      placeholder="Email">
                    <label for="email">Email</label>
                    <p class="error" *ngIf="visitorForm.get('email').invalid && familyFormSubmitted">Email is
                      Required</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="md-form">
                    <mdb-select mdbInput formControlName="methodOfContacts" [options]="methods" [multiple]="true"
                      [highlightFirst]="false" id="contacts" placeholder="Method of Contact - required"></mdb-select>
                    <label for="contacts">Contact Methods</label>
                    <p class="error" *ngIf="visitorForm.get('methodOfContacts').invalid && familyFormSubmitted">Contact
                      Methods is
                      Required</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="md-form">
                    <mdb-select id="taught" mdbInput formControlName="taught" [options]="taught"
                      placeholder="Taught - required">
                    </mdb-select>
                    <label for="taught">Taught</label>
                    <p class="error" *ngIf="visitorForm.get('taught').invalid && familyFormSubmitted">Visitor taught is
                      Required</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="md-form">
                    <mdb-select id="biblestudy" mdbInput formControlName="bibleStudy" [options]="biblestudy"
                      placeholder="Interested in a bible study - required">
                    </mdb-select>
                    <label for="biblestudy">Bible Study</label>
                    <p class="error" *ngIf="visitorForm.get('bibleStudy').invalid && familyFormSubmitted">Bible Study is
                      Required</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="md-form">
                    <input mdbInput type="text" formControlName="address" id="address" class="form-control"
                      placeholder="Address">
                    <label for="address">Address</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="md-form">
                    <input mdbInput type="text" formControlName="zip" id="zip" class="form-control" placeholder="zip">
                    <label for="address">Zip</label>
                  </div>
                </div>
              </div>

            </mdb-tab>
            <mdb-tab heading="Visitor Family">
              <div class="row">
                <div class="col-md-8">
                  <h5>Family Members</h5>
                </div>
                <div class="col-md-4 text-right">
                  <button *ngIf="!isEdit"  type="button" class="btn btn-sm light-blue darken-2" [ngClass]="{ 'disabled-button':!isEdit }"
                    data-toggle="modal" data-target="#basicExample">Add</button>
                    <button *ngIf="isEdit" type="button" class="btn btn-sm light-blue darken-2" (click)="frame.show()"
                    data-toggle="modal" data-target="#basicExample">Add</button>
                </div>
              </div>

              <div class="row" style="padding: 2em 0">
                <div class="col-md-12">
                  <ul class="list-group" *ngFor="let member of familyMembers">
                    <li class="list-group-item">
                      {{ member.firstname }} {{ member.lastname }} - {{ member.age }}
                      <button [ngClass]="{ 'disabled-button':!isEdit }" style="float: right; margin: 0px;" type="button" class="btn btn-danger btn-sm"
                        data-toggle="modal" data-target="#basicExample"
                        (click)="removeFamilyMember(member)">Remove</button>
                    </li>
                  </ul>
                </div>
              </div>

            </mdb-tab>
            <mdb-tab heading="Greeter Information">
              <div class="row">
                <div class="col-md-12">
                  <div class="md-form">
                    <input mdbInput type="text" id="greeter" class="form-control" formControlName="greeter"
                      placeholder="Greeter Name">
                    <label for="greeter">Greeter</label>
                    <p class="error" *ngIf="visitorForm.get('greeter').invalid && familyFormSubmitted">Greeter is
                      Required</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="md-form">
                    <textarea mdbInput id="notes" class="md-textarea form-control" rows="5"
                      formControlName="notes"></textarea>
                    <label for="notes">Notes</label>
                  </div>
                </div>
              </div>
            </mdb-tab>
          </mdb-tabset>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button *ngIf="isEdit && !visitorAdd" class="btn light-blue darken-2" type="button" (click)="editMode()">Cancel Edit</button>
          <button *ngIf="isEdit && visitorAdd" class="btn light-blue darken-2" type="button" (click)="modal.hide()">Cancel</button>
          <button *ngIf="!isEdit !visitorAdd" class="btn light-blue darken-2" type="button" (click)="editMode()">Edit</button>
          <button *ngIf="isEdit && !visitorAdd" class="btn light-blue darken-2" type="button" (click)="updateVisitor()">Submit</button>
          <button *ngIf="isEdit && visitorAdd" class="btn light-blue darken-2" type="button" (click)="addVisitor()">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>




<div mdbModal #frame="mdbModal" class="modal fade up" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add Family Member</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="familyMemberForm">
        <div class="modal-body mx-3">

          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
                <input type="text" id="materialFormCardNameEx" class="form-control" formControlName="firstname"
                  placeholder="First Name">
                <p class="error" *ngIf="familyMemberForm.get('firstname').invalid && familyFormSubmitted">First Name is
                  Required</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
                <input type="text" id="materialFormCardNameEx" class="form-control" formControlName="lastname"
                  placeholder="Last Name">
                <p class="error" *ngIf="familyMemberForm.get('lastname').invalid && familyFormSubmitted">Last Name is
                  Required</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="md-form">
                <input type="number" id="materialFormCardNameEx" class="form-control" formControlName="age"
                  placeholder="Age">
                <p class="error" *ngIf="familyMemberForm.get('age').invalid && familyFormSubmitted">Age is Required</p>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn light-blue darken-2" type="button" (click)="addFamilyMember()">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
