:host >>> .modal {
    max-height: 90% !important;
    overflow-y: scroll !important;
}

:host >>> .nav-item {
    margin: 0px !important;
}

@media (max-width: 991px) {
    :host >>> div.container-fluid {
        padding: 0px !important;
    }

    :host >>> .modal-dialog {
        max-width: 95% !important;
        margin: 8px auto;
    }

    div.mx-3 {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}