.left-container {
    
}

.left-container div.col-md-12 {
    padding: 10px 0px !important;
}

.right-container {

}

div.card {
    background-size: cover !important;
    background-position: center !important;
    padding: 0px !important;
    margin: 0px 25px;
    margin: auto;
    height: 275px !important;
}

div.card div.outline {
    width: 100% !important;
    height: 100% !important;
}

p.description {
    white-space: pre !important;
}

.disabled {
    background-color: rgb(177, 177, 177) !important;
}