<div [formGroup]="contactForm">
  <h5>Contact Details</h5>
  <div class="mb-4">
    <input formControlName="phone" type="text" class="form-control z-depth-1" placeholder="Phone">
    <p class="error" style="font-size: 12px;" *ngIf="contactForm.get('phone').invalid && formSubmitted">Phone required</p>
  </div>

  <div class="mb-4">
    <input formControlName="email" type="email" class="form-control z-depth-1" placeholder="Email">
    <p class="error" style="font-size: 12px;" *ngIf="contactForm.get('email').invalid && formSubmitted">Email required</p>
  </div>

</div>