<div class="about">

  <div class="section-container">
    <div class="about-heading wow fadeIn" [style.background]="'url('+ aboutImageUrl +')'">
      <div class="bg-fill rgba-stylish-strong">
        <div class="container">
          <h1>ABOUT US</h1>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima iure eum tenetur consequatur ab,
            vitae dolorum illo at corporis tempora eaque quos eos explicabo ipsam hic debitis soluta. Libero,
            voluptatibus.</p>
          <div class="footer">
            <a mdbBtn class="waves-light button">View Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-section container">
    <div class="content-heading text-center">
      <h2>OUR LEADERSHIP</h2>
      <div class="image-content col-md-6 offset-md-3">
        <img [src]="pastorImageUrl" alt="pastor" class="pastor-img">
      </div>
      <p class="col-md-6 offset-md-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga ab, blanditiis esse
        totam,
        tempore eligendi dolorem doloribus quas ullam est explicabo incidunt aspernatur commodi ea
        voluptate officia facilis id cumque!</p>
    </div>
  </div>
</div>
