div.section-bg {
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
    background-attachment: fixed !important;
}

div.section-bg div.bg-fill {
    width: 100%;
    height: inherit;
}

div.heading {
    padding: 5% 0 2% 0;
}

div.bible-body {
    padding: 0 0 8% 0;
}

div.bible-body p {
    font-size: 15px !important;
    margin: 0px 10em;
}

div.bible-footer {
    padding: 0 0 5% 0;
}

@media (max-width: 991px) {
    div.bible-body p{
        margin: 0px 1em !important;
    }
}