<div mdbModal #modal="mdbModal" class="modal fade up" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" (close)="onClose($event)">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Subscriber Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body mx-3 row">
          <div class="col-md-6 left-container">

          </div>
          <div class="col-md-6 right-container">

          </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">

        </div>
      </form>
    </div>
  </div>
</div>
