<div class="app-container">
    <div class="row">
      <div class="col-md-12">
        
      </div>
  
      <!--<div class="col-md-3">
        <div [ngClass]="{'filter-active': visitorTotalFilter}" class="card" (click)="onKpiFilter('total-visitors')">
  
          <div class="card-body">
  
            <h4 class="card-title"><a>Visitor Total</a></h4>
  
            <h1>{{ kpi.visitorTotal }}</h1>
          </div>
  
        </div>
      </div>
  
      <div class="col-md-3">
        <div [ngClass]="{'filter-active': biblestudyFilter}" class="card" (click)="onKpiFilter('biblestudy')">
  
          <div class="card-body">
  
            <h4 class="card-title"><a>Bible Study Total</a></h4>
  
            <h1>{{ kpi.bibleStudyTotal }}</h1>
          </div>
  
        </div>

      </div>
  
      <div class="col-md-3">

        <div [ngClass]="{'filter-active': visitorsFilter}" class="card" (click)="onKpiFilter('visitors-taught')">
  
          <div class="card-body">
  
            <h4 class="card-title"><a>Total Visitors Taught</a></h4>
  
            <h1>{{ kpi.visitorsTaught }}</h1>
          </div>
  
        </div>

      </div>
      <div class="col-md-3">

        <div [ngClass]="{'filter-active': newVisitorsTotal}" class="card" (click)="onKpiFilter('new-visitors')">
  
          <div class="card-body">
  
            <h4 class="card-title"><a>Total New Visitors</a></h4>
  
            <h1>{{ kpi.newVisitorsTotal }}</h1>
          </div>
  
        </div>

      </div>-->
    </div>
    <div class="row">
      <div class="col-md-12" style="padding: 0px">

        <div class="card">

          <div class="card-body">
            <div class="">
              <div class="col-md-12">
                <div class="col-md-4" style="float:left">
                  <div class="md-form input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text md-addon" id="inputGroupMaterial-sizing-default">Search by User</span>
                    </div>
                    <input #searchInput type="text" class="form-control" aria-label="Sizing example input"
                      aria-describedby="inputGroupMaterial-sizing-default" (keyup)='filterDatatable($event)'>
                  </div>
                </div>
                <div class="col-md-3" style="float:right;">
                  <button #editBtn mdbBtn type="button" size="sm" color="primary" mdbWavesEffect style="float:right;" (click)="openDetails()" [disabled]="!selectedUser">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </button>
                  <button *ngIf="userRole === 'Admin'" #addBtn mdbBtn type="button" size="sm" color="success" mdbWavesEffect style="float:right;" (click)="openDetailsAdd()" [disabled]="selectedUser">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                  <button *ngIf="userRole === 'Admin'" #delBtn mdbBtn type="button" size="sm" color="danger" mdbWavesEffect style="float:right;" (click)="deleteUser()" [disabled]="!selectedUser">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </div>
                <div *ngIf="selected.length > 0 && selectedUser" class="col-md-4" style="float:right">
                  <mdb-card class="selected-card" bgColor="bg-light">
                    <mdb-card-body>
                      <mdb-card-text style="padding-bottom: 0px;">Selected User: {{ selected[0].email }} <i class="fa fa-times" aria-hidden="true" (click)="removeSelected()"></i></mdb-card-text>
                    </mdb-card-body>
                  </mdb-card>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
        <!-- Card -->
      </div>
    </div>
    <div class="row">
      <ngx-datatable #table [rows]="data" [columnMode]="'flex'" [rowHeight]="'auto'" [scrollbarV]="false" [scrollbarH]="false"
        [footerHeight]="50" [limit]="8" [selected]="selected" [selectionType]="'single'" (select)='onSelect($event)'
        class="material col-md-12">
  
        <ngx-datatable-column name="Firstname" [flexGrow]="3" [resizeable]="false">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
  
        <ngx-datatable-column name="Lastname" [flexGrow]="3" [resizeable]="false">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
  
        <ngx-datatable-column name="Email" [flexGrow]="3" [resizeable]="false">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
  
        <ngx-datatable-column name="Username" [flexGrow]="3" [resizeable]="false">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
  
        <ngx-datatable-column name="Global Role Name" [flexGrow]="2" [resizeable]="false">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="System Modules" [flexGrow]="3" [resizeable]="false">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
  
      </ngx-datatable>
    </div>
  
  </div>


<app-user-details></app-user-details>
<app-confirm (confirmed)="onConfirm($event)" ></app-confirm>