<div class="view">
  <div class="heading wow fadeIn" [style.background]="'url('+ headingImgUrl +')'">
    <div class="bg-fill rgba-stylish-strong">
      <h1 class="text-center">MISSIONS</h1>
    </div>
  </div>
  <div class="mission-content container">
    <div class="content-heading text-center">
      <h1>OUR MISSION</h1>
      <p class="col-md-6 offset-md-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga ab, blanditiis esse
        totam,
        tempore eligendi dolorem doloribus quas ullam est explicabo incidunt aspernatur commodi ea
        voluptate officia facilis id cumque!</p>
      <div class="image-content col-md-6 offset-md-3">
        <img [src]="globalImage" alt="globalImage" class="global-image">
      </div>
    </div>
  </div>
  <div class="content-projects">
    <div class="project-heading">
      <h1>OUR BUILDING PROJECTS</h1>
    </div>
    <div class="project-content wow fadeIn" [style.background]="'url('+ projectUrl +')'">
      <div class="bg-fill rgba-stylish-strong">
        <div class="rellax" data-rellax-percentage="0.5">
          <h1>LUGUNA BELIZE</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet,
            quia recusandae eos odio nostrum officiis veritatis, tenetur quo
            reprehenderit laudantium</p>
        </div>
      </div>
    </div>
    <div class="project-content wow fadeIn" [style.background]="'url('+ headingImgUrl +')'">
      <div class="bg-fill rgba-stylish-strong">
        <div class="rellax" data-rellax-percentage="0.5">
          <h1>LUGUNA BELIZE</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet,
            quia recusandae eos odio nostrum officiis veritatis, tenetur quo
            reprehenderit laudantium</p>
        </div>

      </div>
    </div>
    <div class="project-content wow fadeIn" [style.background]="'url('+ projectUrl +')'">
      <div class="bg-fill rgba-stylish-strong">
        <div class="rellax" data-rellax-percentage="0.5">
          <h1>LUGUNA BELIZE</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet,
            quia recusandae eos odio nostrum officiis veritatis, tenetur quo
            reprehenderit laudantium</p>
        </div>
      </div>
    </div>
  </div>
</div>
