h1, h2, h3, h4, h5, p, a {
    color: black;
}

/*List group styles*/
ul.scroll-list {
    max-height: 25em;
    overflow-y: scroll;
}

ul.scroll-list li div {
    padding: 0px !important;
}

li a.active {
    transition: all 0.3s linear;
    border-radius: 0.125rem;
    background-color: #607d8b;
    color: white;
}

a.page-link {
    font-size: 18px !important;
}

a.page-link:hover {
    background-color: inherit !important;
    color: black !important;
    cursor: default !important;
}

a.arrow-nav:hover {
    background-color: lightgrey !important;
    cursor: pointer !important;
}

code {
    color: #607d8b !important;
    padding-right: 5px;
}



i.app-icon {
    font-size: 20px;
}

i.app-icon:hover {
    transition: all 0.1s linear;
    font-size: 22px;
    cursor: pointer;
}

i.edit-icon {
    color: #039be5;
    padding-left: 10px;
    position: relative;
    top: 2px;
}

i.edit-icon:hover {
    color: #0277bd;
}

i.delete-icon {
    color: red;
}

i.delete-icon:hover {
    color: darkred;
}
