<ul class="list-group list-group-flush scroll-list">
  <li class="list-group-item" *ngFor="let val of tempData">
    <div class="col-md-12">
      <code>{{ val.date }} - <em>{{ val.group }}</em></code>
      <mdb-badge *ngIf="val.status === 'New'" color="red">{{ val.status }}</mdb-badge>
      <mdb-badge *ngIf="val.status === 'Draft'" color="blue-grey darken-1">{{ val.status }}</mdb-badge>
      <mdb-badge *ngIf="val.status === 'Scheduled'" color="green">{{ val.status }}</mdb-badge>
    </div>
    <div class="col-md-12">
      {{ val.message }}
      <div class="pull-right">
        <i class="fa fa-trash delete-icon" aria-hidden="true" (click)="deleteMessage()"></i>
      </div>
    </div>
  </li>
</ul>
<nav aria-label="Page navigation example">
  <ul class="pagination pg-blue justify-content-center">
    <li class="page-item" [ngClass]="{'disabled': activePage === 1}">
      <a class="page-link arrow-nav" tabindex="-1" mdbWavesEffect (click)="changePage('down')">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li *ngFor="let page of tempPages" class="page-item"><a [ngClass]="{'active': page===activePage}"
        class="page-link">{{ page }}</a></li>
    <li class="page-item" [ngClass]="{'disabled': activePage === pages.length}">
      <a class="page-link arrow-nav" mdbWavesEffect (click)="changePage('up')">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>