<div class="">
  <div class="heading view intro wow fadeIn" [style.background]="'url('+ imageUrl +')'">
    <div class="bg-fill rgba-blue-grey-strong">
      <h1 class="text-center animated fadeIn">Video Archive</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="border border-light p-5 z-depth-2 mt-5 mb-5">

    <p class="h4 mb-4 text-center underline" style="margin: auto; width: 30%">March 2020</p>

    <div class="row">
      <div class="col-md-4 vid">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Ffaithtabernacle.arlington%2Fvideos%2F552444552120108%2F&show_text=0&width=560" width="560" height="316" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
        </div>
      </div>
      <div class="col-md-4 vid">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Ffaithtabernacle.arlington%2Fvideos%2F3095656553993315%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
        </div>
      </div>
      <div class="col-md-4 vid">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Ffaithtabernacle.arlington%2Fvideos%2F2459910060892661%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 vid">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Ffaithtabernacle.arlington%2Fvideos%2F146450223356107%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
        </div>
      </div>
      <div class="col-md-4 vid">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Ffaithtabernacle.arlington%2Fvideos%2F807259333115554%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
        </div>
      </div>
      <div class="col-md-4 vid">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Ffaithtabernacle.arlington%2Fvideos%2F228059194917464%2F&show_text=0&width=560" width="560" height="316" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>