div.app-container {
    margin: 2em 2em !important;
}

div.row {
    margin: 1em 0 !important;
}

h1 {
    color: black;
    font-size: 50px !important;
}

div.md-form {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.selected-card {
    max-width: 20rem;
    float: right;
    margin-bottom: 0px !important;
}

:host >>> p.card-text {
    margin: 0px !important;
    padding:0px !important;
}

:host >>> p.card-text i:hover {
    cursor: pointer;
}

:host >>> p.card-text {
    margin: 0px !important;
    padding:0px !important;
}

:host >>> p.card-text i:hover {
    cursor: pointer;
}


/*table styles*/
:host >>> .ngx-datatable {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

:host >>> .datatable-row-center {
    width: 100% !important;
}

:host >>> .datatable-header-inner {
    width: 100% !important;
}

:host >>> .datatable-header {
    background-color: white;
    height: 100% !important;
}

:host >>> .datatable-header-cell {
    text-align: left;
    border: 1px solid #dee2e6;
}

:host >>> .datatable-scroll {
    width: 100% !important;
}

:host >>> .datatable-body-row {
    width: 100% !important;
    height: auto !important;
}

:host >>> .datatable-row-even {
    background-color: rgba(0,0,0,.05) !important;
}

:host >>> .datatable-body-cell {
    height: auto !important;
    border: 1px solid #dee2e6;
    padding: 1em 0em;
}

:host >>> .datatable-body-row:hover {
    cursor: pointer !important;
}

:host >>> .ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group {
    background-color: #dee2e6 !important;
}

button {
    text-align: center !important;
}

:host >>> .classic-tabs {
    background-color: #0288d1  !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

:host >>> .card {
    background-color: #F8F8FF;
}

@media screen and (max-width: 800px) {
    .desktop-hidden {
      display: initial;
    }
    .mobile-hidden {
      display: none;
    }
  }
  @media screen and (min-width: 800px) {
    .desktop-hidden {
      display: none;
    }
    .mobile-hidden {
      display: initial;
    }
  }

  @media screen and (max-width: 500px) {
    div.kpi-card {
        height: 5rem !important;
    }

    .card button {
        float: none !important;
    }

    h1, h4 {
        float: left !important;
        font-size: 1.5rem !important;
    }

    h1 {
        margin-left: 15px !important;
    }
  }