<div>
  <div class="section-bg wow fadeIn" style="background-attachment: fixed;" [style.background]="'url('+ imageUrl +')'">
    <div class="rgba-stylish-strong bg-fill">
      <div class="container text-center">
        <div class="heading">
          <h1>Download our App</h1>
        </div>
        <div class="visit-body">
          <p>Faith Mobile is an application for Faith Tabernacle and its community.
            The goal is to connect all the congregation with each other through the use of a mobile application.<br><br>
            Users can keep up to date with announcements, receive information about events that are happening soon,
            submit prayer requests, listen to sermons that have been preached, read recommended bible studies and much more coming soon!</p>
        </div>
        <div class="visit-footer container">
          <div class="row justify-content-center text-center">
            <div class="col-3">
              <a href="https://play.google.com/store/apps/details?id=com.atkison.faithmobile">
                <img [src]="googlePlay" alt="google play">
               </a>
            </div>
            <div class="col-3">
              <a href="https://apps.apple.com/us/app/id1516886398">
                <a>
                  <img [src]="appStore" alt="app store">
                </a>
               </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
