<div *ngIf="showNavigation" class="">
  <mdb-navbar #navbar SideClass="navbar navbar-expand-lg scrolling-navbar fixed-top scrolling-navbar" [containerInside]="false">
    <mdb-navbar-brand>
        <img class="image" [src]="logoUrl" alt="logo-image" />
    </mdb-navbar-brand>
  
  
    <links #links>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" [routerLink]="['/']" (click)="changeUrl('home')">
          <a (click)="toggleNavbar($event)" class="nav-link">Home</a>
        </li>
        <li class="nav-item" [routerLink]="['/planavisit']" routerLinkActive="active" (click)="changeUrl('planavisit')">
          <a (click)="toggleNavbar($event)" class="nav-link">Visit</a>
        </li>
        <li class="nav-item" [routerLink]="['/ministries']" routerLinkActive="active" (click)="changeUrl('ministries')">
          <a (click)="toggleNavbar($event)" class="nav-link">Ministries</a>
        </li>
        <!-- <li class="nav-item" [routerLink]="['/services']" routerLinkActive="active" (click)="changeUrl('services')">
          <a (click)="toggleNavbar($event)" class="nav-link">Video Archive</a>
        </li> -->
        <!-- <li class="nav-item" [routerLink]="['/watch']" routerLinkActive="active" (click)="changeUrl('watch')">
          <a (click)="toggleNavbar($event)" class="nav-link">Watch</a>
        </li> -->
        <li class="nav-item" [routerLink]="['/contact']" routerLinkActive="active" (click)="changeUrl('contact')">
          <a (click)="toggleNavbar($event)" class="nav-link">Contact</a>
        </li>
        <li class="nav-item" [routerLink]="['/give']" routerLinkActive="active" (click)="changeUrl('give')">
          <a (click)="toggleNavbar($event)" class="nav-link">Give</a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
</div>