<footer *ngIf="showFooter">
  <div class="map-directions">
    <div class="container">
      <div class="row justify-content-center" style="margin: 0px !important">
        <div class="col col-md-4 text-center button-container">
          <button (click)="buttonPressed()" mdbBtn type="button" color="primary" outline="true">TAKE ME THERE</button>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="">
      <div class="d-none d-sm-block">
      </div>
      <div>
        <div class="text-center">
          <p class="trademark">2021 FAITH TABERNACLE ARLINGTON | ALL RIGHTS RESERVED</p>
        </div>
      </div>
    </div>
  </div>
</footer>
