<div mdbModal #modal="mdbModal" class="modal fade up" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Reorder Announcements</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3 row col-md-12">
        <mdb-card class="col-md-12">
          <mdb-card-header>{{ month }} {{ year }}</mdb-card-header>
          <ul dragula="ANNOUNCEMENTS" [(dragulaModel)]="announcements" class="list-group list-group-flush">
            <li *ngFor="let item of announcements" class="list-group-item">
              <span><strong>{{item.heading}}</strong></span><br>
              <span>{{ item.description }}</span>
            </li>
          </ul>
        </mdb-card>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn light-blue darken-2" type="button"
          (click)="modal.hide()">Cancel</button>
        <button class="btn light-blue darken-2" type="button"
          (click)="updateOrder()">Submit</button>
      </div>
    </div>
  </div>
</div>
